---
import Layout from "../layouts/Layout.astro";
import KontakComponent from "../components/Kontak/Kontak";
import kontaKiri from "../assets/kontak/kiri.png";
import kontaKanan from "../assets/kontak/kanan.png";
import kontaKananDark from "../assets/kontak/kanan_aseli.png";
import KontakKiriDark from "../assets/kontak/kiri-dark.png";
import { Image } from "astro:assets";
---

<Layout title="Kontak">
  <KontakComponent client:load>
    <div class="absolute -z-10 left-0 top-0">
      <Image
        src={kontaKiri}
        class="block w-[80px] lg:w-[250px] object-contain"
        alt="background kontak kiri"
      />
    </div>
    <div class="absolute -z-10 right-0 bottom-0">
      <Image
        src={kontaKanan}
        class="block w-[80px] lg:w-[250px] object-contain"
        alt="background kontak kiri"
      />
    </div>
  </KontakComponent>
</Layout>
