---
import { Image } from "astro:assets";
import heroImage from "../../assets/beranda/hero-image.png";
import TombolJelajah from "../TombolJelajah";
---
<section
  class="mt-34 mx-auto p-6 max-w-s max-h-screen max-w-screen-xl font-Hammersmith-One"
>
  <div
    class="flex flex-col-reverse gap-6 sm:flex-row md:gap-8 justify-center items-center dark:text-white"
  >
    <div>
      <div class="uppercase text-2xl sm:text-4xl font-bold leading-loose">
        <div>Menjadi <span class="bg-black text-primary">Pribadi</span></div>
        <div>Yang <span class="bg-black text-primary">Mampu</span></div>
        <div><span class="bg-black text-primary">Bersaing</span></div>
        <div>Di Bidang <span class="bg-black text-primary">IT</span></div>
      </div>
      <div
        class="leading-tight text-sm sm:text-base uppercase text-lightGray mb-6"
      >
        <p>Menjadi pribadi yang mampu berkomunikasi serta</p>
        <p>berkolaborasi dengan baik dalam suatu projek</p>
        <p>pengembangan aplikasi</p>
      </div>
      <TombolJelajah href="layanan" />
    </div>
    <Image
      src={heroImage}
      class="max-w-[200px] sm:max-w-[220px] md:max-w-[280px] block img-shadow"
      alt="gambar hero"
    />
  </div>
</section>
