---
import Footer from "../components/Footer/Footer.astro";
import Navbar from "../components/Navbar/Navbar.astro";
import "../styles/global.css";
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
      <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Decade merupakan sebuah komunitas yang bergerak di bidang IT. Kami menawarkan layanan pembuatan aplikasi web, design grafis, dan design logo. Hubungi Kami segera untuk mendapatkan pengalaman layanan yang terbaik."
    />
    <title>{title ?? "Decade Inc"}</title>
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
  </body>
  <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"
  ></script>
  <script src="https://unpkg.com/flowbite@1.6.5/dist/flowbite.js"></script>
</html>
